{% extends 'layout.html' %}
{% block titulo %}Base Legales{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block contenido %}
    <section class="infoSeguridad">
        <div>
            <img src="../static/img/baselegales.webp" class="img-fluid" alt="termino" id="img-banner" style="width: 100%;">
        </div>
        <div class="container-fluid pb-4">
            <div class="row pt-3">
                <h2 class="display-2 text-center" id="titulo"><b>BASE LEGALES</b></h2>
                <div class="linea"></div>
            </div>
    
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <h5 id="par"> <b>¡¡¡Te damos la bienvenida a Golden Store!!!</b> Antes de sumergirte en nuestra
                            increíble
                            selección de moda, te pedimos que revises atentamente nuestros términos y condiciones. Al
                            acceder o realizar compras en Golden Store, aceptas de manera vinculante y comprometida cumplir
                            con las disposiciones detalladas a continuación.</h5>
                    </div>
                </div>
            </div>
    
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="subti"><b>1. Constitución de la empresa</b></h4>
                        <p id="par">Las leyes que rigen la constitución de la empresa, que incluyen estatutos, acuerdos de
                            accionistas y otros documentos fundacionales, establecen la estructura y operación legal de
                            Golden Store.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="subti"><b>2. Normativas tributarias</b></h4>
                        <p id="par">Cumplir con las leyes fiscales aplicables, presentar declaraciones de impuestos y pagar
                            impuestos según las normativas tributarias locales y nacionales.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="subti"><b>3. Normativas laborales</b></h4>
                        <p id="par">Establecer contratos de trabajo que cumplan con las normativas laborales vigentes,
                            incluyendo condiciones laborales, salarios, beneficios y derechos de los empleados.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="subti"><b>4. Normativas de comercio</b></h4>
                        <p id="par">Cumplir con las leyes y regulaciones que rigen el comercio, incluyendo la venta de
                            bienes y servicios, contratos comerciales y prácticas comerciales leales.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="subti"><b>5. Protección del consumidor</b></h4>
                        <p id="par">Cumplir con las normativas que protegen los derechos y la seguridad de los consumidores,
                            incluyendo información clara sobre productos, políticas de devolución y resolución de
                            reclamaciones.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="subti"><b>6. Normativas de protección de datos</b></h4>
                        <p id="par">Garantizar el cumplimiento de las leyes de privacidad y protección de datos, protegiendo
                            la información personal de los clientes y empleados.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="subti"><b>7. Seguridad y salud en el trabajo</b></h4>
                        <p id="par">Cumplir con las regulaciones que aseguran condiciones de trabajo seguras y saludables,
                            previniendo accidentes y promoviendo el bienestar de los empleados.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    <script src="../static/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% endblock %}